@model QuestionRepresentModel
Question Id: @Model.Id
<div class="thumbnail">
    <img alt="" src="@Model.QuestionImageUrl">
    <h4>@Model.QuestionText</h4>
    <div class="caption-full">
        <p class="button" align="right">
            <a class="btn btn-primary" asp-controller="Question" asp-action="Edit" asp-route-Id="@Model.Id">Edit</a>
            <a class="btn btn-primary btn-danger" asp-controller="Question" asp-action="Delete" asp-route-Id="@Model.Id">Remove</a>
        </p>
    </div>
</div>