@model IEnumerable<Xgame.Model.QuestionRepresentModel>
My Questions:

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerText)
        </td>        <
        <td>
            @Html.ActionLink("Edit", "Edit" ) |
            @Html.ActionLink("Details", "Details") |
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>
}