@model Xgame.Model.LoginViewModel

<h2>Log In</h2>


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Log out" />
    </form>
}
else
{
    <div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
             {
                 @Html.HiddenFor(m => m.Email)
                 @Html.LabelFor(m => m.Email, "Email")
                 <br />
                 @Html.TextBoxFor(m => m.Email)
                 <br />
                 @Html.LabelFor(m => m.Password, "Password")
                 <br />
                 @Html.Password("UserPassword", "")
                 <p><input type="submit" value="Log in" /></p>
             }
         </div>   
}



