@model QuestionReviewModel

@using (Html.BeginForm("Approve", "Question", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Reviewing the Question</h4>
    <hr />
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.AnswerImageUrl" name="AnswerImageUrl" />
    <input type="hidden" value="@Model.QuestionImageUrl" name="QuestionImageUrl" />
    <input type="hidden" value="@Model.RejectReason" name="RejectReason" />
    <div class="form-group">
        @Html.LabelFor(m => m.QuestionText, "Question", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.QuestionText, new { rows = "6", @class = "form-control" })
        </div>
    </div>
    @if (Model.QuestionImageUrl != null && Model.QuestionImageUrl.Length > 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.QuestionImageUrl, "Question Image", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <img src='@ViewData["QuestionImage"]' />
            </div>
        </div>
    }
    <br /><br />
    <div class="form-group">
        @Html.LabelFor(m => m.AnswerText, "Answer", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.AnswerText, new { rows = "3", @class = "form-control" })
        </div>
    </div>
    @if (Model.AnswerImageUrl != null && Model.AnswerImageUrl.Length > 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.AnswerImageUrl, "Answer Image", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <img src='@ViewData["AnswerImage"]' />
            </div>
        </div>
    }
    <div align="right">
        <input type="submit" class="btn btn-success" value="Approve" align="right" />
        <a class="btn btn-primary btn-danger" asp-controller="Question" asp-action="Reject" asp-route-id="@Model.Id">Reject</a>
        <a class="btn btn-primary" asp-controller="Question" asp-action="QuestionList">Return</a>
    </div>
}
